In [1]:
import pandas as pd

In [2]:
dfRCdata=pd.read_csv("tbl_D_327_DARJEELING_1.csv")

In [6]:
# dfRCdata.info()
dfRCdata[['PERMANENT_RCNO','NAME']]

         PERMANENT_RCNO                NAME
0             207968104    NISHA BISWAKARMA
1             207967623       APEKCHA THAPA
2             207986228          ANU TAMANG
3             207967221      BISWADEEP  RAI
4             208009795      UJJAWL CHHETRI
...                 ...                 ...
1706332      2001794335  SHAKSHI KUMARI JHA
1706333      2001794361     INDRAJIT HALDER
1706334      2001794380          SHIVAM JHA
1706335      2001794393          RITA GHOSH
1706336      2001794400      SFSANA PARWEEN

[1706337 rows x 2 columns]

In [7]:
import os, glob
from pathlib import Path
from datetime import datetime,date,time
import pandas as pd
import pyodbc
import math
from fuzzywuzzy import fuzz
import fuzzy_pandas as fpd
import numpy as np
import csv

In [8]:
def cleanName(series):
    return  series.str.lower().str.replace(r"[^a-z\s]",repl="",regex=True).str.split().str.join(" ").str.strip()

In [9]:
# Creating For Getting Time Differences.
def calculate_hours_minutes(td):
    seconds=int(td.total_seconds())
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = seconds % 60
    return str(hours)+' Hour '+str(minutes)+' Minutes ' +str(seconds)+' Seconds'

In [10]:
# Creating function for Matching Name col_name_to_be_matched,col_name_to_matched_with--> Dataframe Column Name
def get_ratio(row,col_name_to_be_matched,col_name_to_matched_with):
    name=  row[col_name_to_be_matched]  #'to_be_matched'
    name1 = row[col_name_to_matched_with] # 'NAME'
    return fuzz.token_set_ratio(name, name1)

In [39]:

# Createing Resultant Files
def Creating_result_files():
    BlockMatchedFileName="BlockMatched_"+str(date.today())+".csv"
    PinMatchedFileName="PinMatched_"+str(date.today())+".csv"
    NameMatchedFileName="NameMatched_"+str(date.today())+".csv"
    BlockFileHeader=['death_main_id','blockcode']
    PinFileHeader=['death_main_id','pincode']
    NameFileHeader=['death_main_id','PERMANENT_RCNO','NAME','FATHERNAME','BlockMunicipalityCode','RCCATEGORY']
    if not os.path.exists(BlockMatchedFileName):        
        with open(BlockMatchedFileName, 'w') as fp:
            writer = csv.writer(fp)
            writer.writerow(BlockFileHeader)
            pass
    
    if not os.path.exists(PinMatchedFileName):        
        with open(PinMatchedFileName, 'w') as fp:
            writer = csv.writer(fp)
            writer.writerow(PinFileHeader)
            pass
    
    if not os.path.exists(NameMatchedFileName):        
        with open(NameMatchedFileName, 'w') as fp:
            writer = csv.writer(fp)
            writer.writerow(NameFileHeader)
            pass

In [54]:
Creating_result_files()

In [71]:
#Creating Block Final Reslut Files with Data
def WritetoCSVFileBlockMatching(df):
    BlockMatchedFileName="BlockMatched_"+str(date.today())+".csv"
    df[['death_main_id','BlockCode']].to_csv(BlockMatchedFileName, mode = 'a', header = False, index = False)
    

#Creating Pin Final Reslut Files with Data
def WritetoCSVFilePinMatching(df):
    PinMatchedFileName="PinMatched_"+str(date.today())+".csv"
    df[['death_main_id','Pincode']].to_csv(PinMatchedFileName, mode = 'a', header = False, index = False)
    
#Creating Pin Final Reslut Files with Data
def WritetoCSVFileNameAndFatherNameMatching(df):
    PinMatchedFileName="NameMatched_"+str(date.today())+".csv"
    df[['death_main_id','PERMANENT_RCNO','NAME','FATHERNAME','BlockMunicipalityCode','RCCATEGORY']].to_csv(PinMatchedFileName, mode = 'a', header = False, index = False)

In [36]:

def read_and_process_csv_for_block(filename):
    cwd = os.getcwd()
    path1=Path(os.path.join(cwd, "CSV_FROM_SERVER"))
    dfDeathData = pd.read_csv(path1.joinpath(filename),dtype = str)
    dfRCDataMain=pd.read_csv('BLOCK.csv',dtype = str)
    for ind in dfDeathData.index:
        print('Start Processing Data no: '+str(ind+1)+' of file: '+ str(filename))    
        log_into_text_file('Start Processing Data no: '+str(ind+1)+' of file: '+ str(filename))    
        starttime=datetime.now()
        dfRCData=dfRCDataMain
        dfRCData['death_address']=str(dfDeathData['death_address'][ind])
        print('Looking To match For BlockName In Death Address: '+str(dfDeathData['death_address'][ind])+' of file: '+ str(filename))
        log_into_text_file('Looking To match For BlockName In Death Address: '+str(dfDeathData['death_address'][ind])+' of file: '+ str(filename))
        dfRCData['death_block_matching_score']=dfRCData.apply(get_ratio,col_name_to_be_matched='death_address',col_name_to_matched_with='BlockName', axis=1)
        dfRCData_level_1_filter=dfRCData.loc[(dfRCData['death_block_matching_score'] >= 80)].copy()
        
        if len(dfRCData_level_1_filter.index)>0:
            dfRCData_level_1_filter["death_main_id"]=int(dfDeathData["death_main_id"][ind])
            # cursor = cnxn.cursor()
            # # Insert Dataframe into SQL Server:
            # for index, row in dfRCData_level_1_filter.iterrows():
            #     retry_flag = True
            #     retry_count = 0
            #     while retry_flag and retry_count < 5:
            #         try:                        
            #             cursor.execute("INSERT INTO tbl_death_matching_block(death_main_id,block_id) values(?,?)", int(dfDeathData['death_main_id'][ind]), str(row.BlockCode))
            #             cnxn.commit()
            #             retry_flag = False
            #         except:                        
            #             print ("Retry after 1 sec: Form Block Matching")
            #             retry_count = retry_count + 1
            #             time.sleep(1)
            # cursor.close()
            print(dfRCData_level_1_filter.head(5))
            WritetoCSVFileBlockMatching(dfRCData_level_1_filter)
        else:
            print('Matching Failed For Block Name...of file: '+ str(filename))
            log_into_text_file('Matching Failed For Block Name...of file: '+ str(filename))
        endtime=datetime.now()
        difference = endtime - starttime
        print('End Processing Data no: '+str(ind+1)+'  In '+calculate_hours_minutes(difference)+' of file: '+ str(filename))
        log_into_text_file('End Processing Data no: '+str(ind+1)+'  In '+calculate_hours_minutes(difference)+' of file: '+ str(filename))
        # print('Generating Result For Name: '+str(dfDeathData['DEATH_DECEASED_NAME'][ind])+' And Father Name: '+dfDeathData['DEATH_FATHER_NAME'][ind]+'.. \n')
        # dfResult=dfRCData.loc[((dfRCData['death_name_matching_score'] >= 90) & (dfRCData['death_father_name_matching_score'] >= 90))]
        # print('We Have :'+str(len(dfResult.index))+' Matching Rows For Name: '+str(dfDeathData['DEATH_DECEASED_NAME'][ind])+' And Father Name: '+str(dfDeathData['DEATH_FATHER_NAME'][ind])+'.. \n')

In [11]:
def log_into_text_file(message):
    todaydate=str(date.today())+".txt"
    if not os.path.exists(todaydate):        
        with open(todaydate, 'w') as fp:
            pass
    
    f = open(todaydate, "a")
    f.write('\n'+message)
    f.close()

In [56]:
def read_and_process_csv_for_pin(filename):
    cwd = os.getcwd()
    path1=Path(os.path.join(cwd, "CSV_FROM_SERVER"))
    dfDeathData = pd.read_csv(path1.joinpath(filename),dtype = str)
    dfRCDataMain=pd.read_csv('PIN.csv',dtype = str)
    for ind in dfDeathData.index:
        print('Start Processing Data no: '+str(ind+1)+' of file: '+ str(filename))    
        log_into_text_file('Start Processing Data no: '+str(ind+1)+' of file: '+ str(filename))    
        starttime=datetime.now()
        dfRCData=dfRCDataMain
        dfRCData['death_address']=str(dfDeathData['death_address'][ind])
        print('Looking To match For Pin In Death Address: '+str(dfDeathData['death_address'][ind])+' of file: '+ str(filename))
        log_into_text_file('Looking To match For Pin In Death Address: '+str(dfDeathData['death_address'][ind])+' of file: '+ str(filename))
        dfRCData['death_pin_matching_score']=dfRCData.apply(get_ratio,col_name_to_be_matched='death_address',col_name_to_matched_with='Pincode', axis=1)
        dfRCData_level_1_filter=dfRCData.loc[(dfRCData['death_pin_matching_score'] >= 80)].copy()
        
        if len(dfRCData_level_1_filter.index)>0:            
            dfRCData_level_1_filter["death_main_id"]=int(dfDeathData["death_main_id"][ind])
            WritetoCSVFilePinMatching(dfRCData_level_1_filter)
            print(dfRCData_level_1_filter.head(5))
            # cursor = cnxn.cursor()
            # # Insert Dataframe into SQL Server:
            # for index, row in dfRCData_level_1_filter.iterrows():
            #     retry_flag = True
            #     retry_count = 0
            #     while retry_flag and retry_count < 5:
            #         try:
                        
            #             cursor.execute("INSERT INTO tbl_death_matching_pinno(death_main_id,matched_pin) values(?,?)", int(dfDeathData['death_main_id'][ind]), str(row.Pincode))
            #             cnxn.commit()
            #             retry_flag=False
            #         except:
            #             print ("Retry after 1 sec: Form Pin Matching")
            #             retry_count = retry_count + 1
            #             time.sleep(1)
            # cursor.close()
        else:
            print('Matching Failed For Death Name...of file: '+ str(filename))
            log_into_text_file('Matching Failed For Death Name...of file: '+ str(filename))
        endtime=datetime.now()
        difference = endtime - starttime
        print('End Processing Data no: '+str(ind+1)+'  In '+calculate_hours_minutes(difference)+' of file: '+ str(filename))
        log_into_text_file('End Processing Data no: '+str(ind+1)+'  In '+calculate_hours_minutes(difference)+' of file: '+ str(filename))
        # print('Generating Result For Name: '+str(dfDeathData['DEATH_DECEASED_NAME'][ind])+' And Father Name: '+dfDeathData['DEATH_FATHER_NAME'][ind]+'.. \n')
        # dfResult=dfRCData.loc[((dfRCData['death_name_matching_score'] >= 90) & (dfRCData['death_father_name_matching_score'] >= 90))]
        # print('We Have :'+str(len(dfResult.index))+' Matching Rows For Name: '+str(dfDeathData['DEATH_DECEASED_NAME'][ind])+' And Father Name: '+str(dfDeathData['DEATH_FATHER_NAME'][ind])+'.. \n')

In [ ]:
# Creating_result_files()
# read_and_process_csv_for_block("2C9C29D4D.csv")
# read_and_process_csv_for_pin("2C9C29D4D.csv")
read_and_process_csv_for_name_and_fathername("2C9C29D4D.csv")
# dfdd=pd.read_csv("2C9C29D4D.csv")
# dfdd.info()

In [ ]:

RCDeatilsFileList = glob.glob(os.path.join("tbl_D_*.csv"))    
deathFilesList = os.listdir("./CSV_FROM_SERVER") 
number_of_elements = len(deathFilesList)        
current_directory = os.getcwd()
PathToGetDeathFiles=Path(os.path.join(current_directory, "CSV_FROM_SERVER"))    
for deathfile in deathFilesList:
    dfdd=pd.read_csv(str(PathToGetDeathFiles.joinpath(deathfile)))
    print("Death File Name:" +str(deathfile))
    dfdd.info()
    # read_and_process_csv_for_block(deathfile)
    # read_and_process_csv_for_pin(deathfile)
        # m.read_and_process_csv_for_name_and_fathername(str(PathToGetDeathFiles.joinpath(deathfile)))
        # # print(deathfile)
        # os.remove("./CSV_FROM_SERVER/"+str(deathfile))

In [81]:
rcblock=pd.read_csv("NameMatched_2021-07-15.csv")
rcblock

,death_main_id,PERMANENT_RCNO,NAME,FATHERNAME,BlockMunicipalityCode,RCCATEGORY
0,214,63585019,manibala biswas,subal dhali,2164,SPHH
1,214,600914219,MANIBALA BISWAS,SAROD ROY,2165,RKSY-I
2,222,63704329,JASHODA SARKAR,HIRALAL DAS,2165,PHH
3,222,63721178,JASHODA SARKAR,TUNITUMAL MAJUMDAR,2165,SPHH
4,222,545478584,JASHODA SARKAR,KASHI NATH SARKAR,2163,RKSY-I
5,222,600769803,JASHODA SARKAR,KHAGESHWAR SARKAR,2162,RKSY-II
6,222,63350940,JASHODA SARKAR,UPENDRA MANDAL,801638,AAY
7,224,63704329,JASHODA SARKAR,HIRALAL DAS,2165,PHH
8,224,63721178,JASHODA SARKAR,TUNITUMAL MAJUMDAR,2165,SPHH
9,224,545478584,JASHODA SARKAR,KASHI NATH SARKAR,2163,RKSY-I
10,224,600769803,JASHODA SARKAR,KHAGESHWAR SARKAR,2162,RKSY-II
11,224,63350940,JASHODA SARKAR,UPENDRA MANDAL,801638,AAY
12,238,207221399,RADHARANI GHOSH,SATISH BISWAS,2163,PHH
13,238,63654659,RADHARANI GHOSH,KHAKON GHOSH,2164,SPHH
14,238,63348033,RADHARANI GHOSH,HARAMOHAN GHOSH,801638,SPHH
15,238,207239282,RADHARANI GHOSH,BALAI GHOSH,2164,PHH
16,238,600888143,RADHARANI GHOSH,NIRMAL GHOSH,2163,AAY
17,238,600818171,RADHARANI GHOSH,M GHOSH,801638,RKSY-I
18,238,1205930545,RADHARANI GHOSH,P C GHOSH,801638,RKSY-I
19,238,1220372281,RADHARANI GHOSH,TAPAN GHOSH,2162,RKSY-I
20,246,63405518,MAMATA BISWAS,SANATAN BISWAS,2162,SPHH
21,246,63530896,MAMATA BISWAS,NaN,2163,SPHH
22,246,63528300,MAMATA BISWAS,NaN,2163,SPHH
23,246,63540254,MAMATA BISWAS,CHITTA BAIN,2164,PHH
24,246,63604867,mamata biswas,ranjan biswas,2164,SPHH
25,246,63359638,MAMATA BISWAS,DHANANJOY MAJUMDAR,801638,AAY
26,246,63362240,MAMATA BISWAS,TARUNI KANTA MAJUMDAR,801638,SPHH
27,246,63373735,Mamata Biswas,Late Amrito Lal Bhattacharji,801638,SPHH
28,246,63362777,MAMATA BISWAS,KRISHNA BASAK,801638,PHH
29,246,208106171,MAMATA BISWAS,HIRAMAN BISWAS,2164,PHH
30,246,206209483,MAMATA BISWAS,HAHBNA,801638,RKSY-II
31,246,206216081,MAMATA BISWAS,UIOUK,2162,RKSY-II
32,246,545475527,MAMATA BISWAS,LT H P BISWAS,801638,SPHH
33,246,600923694,MAMATA BISWAS,GANESH BISWAS,2164,RKSY-II
34,246,600845664,MAMATA BISWAS,SANTOSH BISWAS,2162,RKSY-I
35,246,600860136,MAMATA BISWAS,K BISWAS,2164,RKSY-II
36,246,704953309,MAMATA BISWAS,LT SURESH GHOSH,801638,RKSY-I
37,246,63698061,MAMATA BISWAS,MOTILAL BISWAS,2165,SPHH
38,246,63738863,MAMATA BISWAS,DEBEN RANGDAR,2165,SPHH
39,246,207209767,MAMATA BISWAS,ANIL KUMAR MADAK,2163,PHH
40,246,63359815,MAMATA BISWAS,GURU CHARAN ROY,801638,PHH
41,246,545466272,MAMATA BISWAS,BHANU BISWAS,2163,PHH
42,246,545478107,MAMATA BISWAS,LT SUKUMAR,2163,RKSY-II
43,246,545474540,MAMATA BISWAS,NARYAN BISWAS,2165,SPHH
44,246,600821386,MAMATA BISWAS,NIMAI BISWAS,801638,RKSY-II
45,246,600887415,MAMATA BISWAS,DHANANJAY BISWAS,2163,RKSY-II
46,246,600916414,MAMATA BISWAS,NIRAPAD BISWAS,2165,RKSY-II
47,246,600825267,MAMATA BISWAS,SEKHAR CHANDRA BISWAS,801638,RKSY-II
48,246,600979247,MAMATA BISWAS,LATE S C ROY GUPTA,801638,RKSY-II
49,246,704998009,MAMATA BISWAS,KISHOR MOHAN BISWAS,2163,RKSY-I
50,246,1225169456,MAMATA BISWAS,DIPAK KUMAR BISWAS,801638,RKSY-I
51,246,1218872021,MAMATA BISWAS,BIKASH BISWAS,2165,RKSY-I
52,246,63355702,MAMATA BISWAS,NARENDRA NATH BISWAS,801638,SPHH
53,246,705006632,MAMATA BISWAS,BHUBEN BISWAS,2165,RKSY-II
54,261,704971670,SUBHADRA BISWAS,GANDHI BISWAS,801638,RKSY-II
55,261,1213071785,SUBHADRA BISWAS,WO GIRENDRA BISWAS,2163,RKSY-II
56,261,1216910232,SUBHADRA BISWAS,JIBAN BISWAS,2162,RKSY-I
57,261,1222316965,SUBHADRA BISWAS,JADAB SARKAR,801638,RKSY-I
58,262,63588031,ASHTAMI MANDAL,SUDHIR SARKAR,801638,PHH
59,262,1206670663,ASHTAMI MANDAL,S MANDAL,801638,RKSY-I

In [77]:
rcblock

,Unnamed: 0,PERMANENT_RCNO,NAME,FATHERNAME,BlockMunicipalityCode,RCCATEGORY,death_name_matching_score,death_father_name_matching_score,death_pin_matching_score,death_block_matching_score
0,0,0207968104,NISHA BISWAKARMA,ARJUN BISWAKARMA,2159,AAY,0,0,0,0
1,1,0207967623,APEKCHA THAPA,SURAJ THAPA,2159,AAY,0,0,0,0
2,2,0207986228,ANU TAMANG,KUMAR SUBBA,2159,AAY,0,0,0,0
3,3,0207967221,BISWADEEP RAI,KARNA BH. RAI,2159,AAY,0,0,0,0
4,4,0208009795,UJJAWL CHHETRI,THULE CHHETRI,2159,AAY,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1706332,1706332,2001794335,SHAKSHI KUMARI JHA,BHUPENDRA KUMAR JHA,2163,RKSY-I,0,0,0,0
1706333,1706333,2001794361,INDRAJIT HALDER,MOHIT LAL HALDER,2163,RKSY-I,0,0,0,0
1706334,1706334,2001794380,SHIVAM JHA,JAGANNATH JHA,2163,RKSY-I,0,0,0,0
1706335,1706335,2001794393,RITA GHOSH,NITAI GHOSH,2163,RKSY-I,0,0,0,0
1706336,1706336,2001794400,SFSANA PARWEEN,WO ASFAQUE ALAM,2163,RKSY-I,0,0,0,0

In [69]:
def read_and_process_csv_for_name_and_fathername(deathdatafilepath):
    print("start Processing of death data file:"+str(deathdatafilepath))
    log_into_text_file("start Processing of death data file:"+str(deathdatafilepath))
    # Loading Death data from csv to dataframe
    dfDeathData=pd.read_csv(deathdatafilepath)
    
    #Cleaning Name And Father Name
    # dfDeathData=dfDeathData.dropna(subset=['DEATH_DECEASED_NAME']) 
    # dfDeathData=dfDeathData.dropna(subset=['DEATH_FATHER_NAME']) 
    dfDeathData["cleanDeathName"]=cleanName(dfDeathData["DEATH_DECEASED_NAME"])
    dfDeathData["cleanDeathFatherName"]=cleanName(dfDeathData["DEATH_FATHER_NAME"])

    # break Death data into two sets 
    # 1. That have Father name is not '' 
    # 2. That have father name is ''

    dfDeathdata_index = dfDeathData[dfDeathData['cleanDeathFatherName'] == '' ].index
    dfDeathData_NameOnly=dfDeathData[dfDeathData['cleanDeathFatherName'] == '' ]
    dfDeathData.drop(dfDeathdata_index, inplace = True)

    RCDeatilsFileList = glob.glob(os.path.join("tbl_D_*.csv")) 
    for rcfile in RCDeatilsFileList:
        print("Start Processing of Death Data file of path: "+str(deathdatafilepath)+" Against RC Data Of : "+ str(rcfile))
        log_into_text_file("Start Processing of Death Data file of path: "+str(deathdatafilepath)+" Against RC Data Of : "+ str(rcfile))
        # Load RC Details Data
        dfRCdata=pd.read_csv(rcfile,converters={'PERMANENT_RCNO': lambda x: str(x)}) #,skiprows=range(1, 221701),nrows=100

        #Cleaning Name And Father Name
        # dfRCdata=dfRCdata.dropna(subset=['NAME']) 
        # dfRCdata=dfRCdata.dropna(subset=['FATHERNAME']) 
        dfRCdata["cleanRCName"]=cleanName(dfRCdata["NAME"])
        dfRCdata["cleanRCFatherName"]=cleanName(dfRCdata["FATHERNAME"])

        # # Matched Name and Then Father Name
        # matchesName = fpd.fuzzy_merge(dfDeathData, dfRCdata,
        #                         left_on=['cleanDeathName'],
        #                         right_on=['cleanRCName'],
        #                         keep_left=['death_main_id','DEATH_DECEASED_NAME', 'DEATH_FATHER_NAME','death_address','cleanDeathName','cleanDeathFatherName'],
        #                         keep_right=['PERMANENT_RCNO','NAME','FATHERNAME','BlockMunicipalityCode','RCCATEGORY','cleanRCName','cleanRCFatherName'],
        #                         ignore_case=True,
        #                         method='levenshtein',
        #                         threshold =0.9                          
        #                         )

        # # Cleanning RC Fathername of matchesName
        # matchesName=matchesName.dropna(subset=['cleanRCFatherName']) 

        # # Findings On Levenshtein Method first Name then Fathername over Reulted set
        # matchesNameFatherName = fpd.fuzzy_merge(dfDeathData, matchesName,
        #                         left_on=['cleanDeathFatherName'],
        #                         right_on=['cleanRCFatherName'],
        #                         keep_left=['death_main_id','DEATH_DECEASED_NAME', 'DEATH_FATHER_NAME','death_address','cleanDeathName','cleanDeathFatherName'],
        #                         keep_right=['PERMANENT_RCNO','NAME','FATHERNAME','BlockMunicipalityCode','RCCATEGORY','cleanRCName','cleanRCFatherName'],
        #                         ignore_case=True,
        #                         method='levenshtein',
        #                         threshold =0.9                          
        #                         )
        # # Insert name and fathername matches to the RC database
        # # print(matchesNameFatherName)

        # if len(matchesNameFatherName.index)>0:
        #     print('We Have :'+str(len(matchesNameFatherName.index))+' Matching Rows For Names and Father Names of file: '+ str(deathdatafilepath))
        #     log_into_text_file('We Have :'+str(len(matchesNameFatherName.index))+' Matching Rows For Names and Father Names of file: '+ str(deathdatafilepath))
            
        #     print(matchesNameFatherName.head(5))
        #     WritetoCSVFileNameAndFatherNameMatching(matchesNameFatherName)
        #     # print('Generating CSV File For Result Of '+str(len(dfRCData_level_2_filter.index))+' Rows\n')
        #     # cursor = cnxn.cursor()
        #     # # Insert Dataframe into SQL Server:
        #     # for index, row in matchesNameFatherName.iterrows():
        #     #     retry_flag = True
        #     #     retry_count = 0
        #     #     while retry_flag and retry_count < 5:
        #     #         try:
        #     #             cursor.execute("INSERT INTO tbl_death_matching_name_father_name(death_main_id,rc_no,rc_name,rc_father_name,rc_blockmunicipalitycode,rc_category) values(?,?,?,?,?,?)", int(row.death_main_id), str(row.PERMANENT_RCNO), str(row.NAME),str(row.FATHERNAME),str(row.BlockMunicipalityCode),str(row.RCCATEGORY))
        #     #             cnxn.commit()
        #     #             retry_flag = False
        #     #         except:
        #     #             print ("Retry after 1 sec:From Matching Name and FatherName")
        #     #             retry_count = retry_count + 1
        #     #             time.sleep(1)
        #     # cursor.close()
        # else:
        #     print('Matching Failed For Name and Father Name of file: '+ str(deathdatafilepath))
        #     log_into_text_file('Matching Failed For Name and Father Name of file: '+ str(deathdatafilepath))

        # Matched Only For Name 
        matchesName = fpd.fuzzy_merge(dfDeathData_NameOnly, dfRCdata,
                                left_on=['cleanDeathName'],
                                right_on=['cleanRCName'],
                                keep_left=['death_main_id','DEATH_DECEASED_NAME', 'DEATH_FATHER_NAME','death_address','cleanDeathName','cleanDeathFatherName'],
                                keep_right=['PERMANENT_RCNO','NAME','FATHERNAME','BlockMunicipalityCode','RCCATEGORY','cleanRCName','cleanRCFatherName'],
                                ignore_case=True,
                                method='levenshtein',
                                threshold =1.0                         
                                )
        # Insert name and fathername matches to the RC database
        # print(matchesName)

        if len(matchesName.index)>0:
            print('We Have :'+str(len(matchesName.index))+' Matching Rows For Names of file: '+ str(deathdatafilepath))
            log_into_text_file('We Have :'+str(len(matchesName.index))+' Matching Rows For Names of file: '+ str(deathdatafilepath))
            # print('Generating CSV File For Result Of '+str(len(dfRCData_level_2_filter.index))+' Rows\n')
            # cursor = cnxn.cursor()
            # # Insert Dataframe into SQL Server:
            # for index, row in matchesName.iterrows():
            #     retry_flag = True
            #     retry_count = 0
            #     while retry_flag and retry_count < 5:
            #         try:
            #             cursor.execute("INSERT INTO tbl_death_matching_name_father_name(death_main_id,rc_no,rc_name,rc_father_name,rc_blockmunicipalitycode,rc_category) values(?,?,?,?,?,?)", int(row.death_main_id), str(row.PERMANENT_RCNO), str(row.NAME),str(row.FATHERNAME),str(row.BlockMunicipalityCode),str(row.RCCATEGORY))
            #             cnxn.commit()
            #             retry_flag = False
            #         except:
            #             print("Retry after 1 sec: From Matching Only Name")
            #             retry_count = retry_count + 1
            #             time.sleep(1)
            # cursor.close()
            print(matchesName.head(5))
            WritetoCSVFileNameAndFatherNameMatching(matchesName)
        else:
            print('Matching Failed For Name of file: '+ str(deathdatafilepath))
            log_into_text_file('Matching Failed For Name of file: '+ str(deathdatafilepath))
        print("End Processing of Death Data file of path: "+str(deathdatafilepath)+" Against RC Data Of : "+ str(rcfile))
        log_into_text_file("End Processing of Death Data file of path: "+str(deathdatafilepath)+" Against RC Data Of : "+ str(rcfile))